---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>

    

    <div class="custom-links">
      <a href="/about/">About</a> &nbsp;·&nbsp;

      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;·&nbsp;
        {% endif %}
      {% endfor %}
      <!-- <a href="/about/">About</a> &nbsp;·&nbsp; -->
      <!-- <a href="https://instagram.com/pilotsuits/">Instagram</a> &nbsp;·&nbsp; -->
      <a href="https://pilotsuits.bandcamp.com/">BandCamp</a> <!-- &nbsp;·&nbsp; -->
      <!-- <a href="https://play.spotify.com/artist/7xDEsNpkGIBp0UnHTqnfr6">Spotify</a> &nbsp;&nbsp;·&nbsp;&nbsp; -->
      <!-- <a href="https://www.facebook.com/Pilotsuits">Facebook</a> --> <!-- &nbsp;·&nbsp; -->
    </div>
</header>

<center>
<!-- <video width="640" height="480" controls>
  <source src="https://dl.dropboxusercontent.com/u/36281098/pilotsuits/leak_vid.mp4" type="video/mp4">
</video> -->

<iframe src="https://embed.spotify.com/?uri=spotify:user:pilotsuits:playlist:6EyyKO72lOydoNMFEVwjct&theme=white&view=coverart" 
width="400" height="600" frameborder="0" allowtransparency="true"></iframe>
</br>
<iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:7xDEsNpkGIBp0UnHTqnfr6&size=basic&theme=light&show-count=0" width="100" height="23" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>

</center>
<!-- spotify:user:pilotsuits:playlist:6EyyKO72lOydoNMFEVwjct
spotify:user:jajajrjr:playlist:58W3SXgCLggHljQqC9hZJp -->

<main class="content" role="main">

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <h5 class="index-headline normal"><span>Regular</span></h5>
    {% endif %}

    <div class="cf frame">
      {% for post in paginator.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
<!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

<!--     <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav> -->


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
