---
layout: default
---


<!-- <div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div> -->

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">Recording</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
        <!--     <a class="icon-{{ social.icon }}" href="{{ social.url }}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a> -->
            <!-- &nbsp;&nbsp;·&nbsp;&nbsp; -->
        {% endif %}
      {% endfor %}




  <object type="application/x-shockwave-flash" data="dewplayer-playlist.swf" width="260" height="240" id="dewplayer" name="dewplayer">
    <param name="wmode" value="transparent" />
    <param name="movie" value="dewplayer-playlist.swf" />
    <param name="flashvars" value="showtime=true&autoreplay=true&xml=playlist.xml" />
  </object>

    </div>
</header>

<main class="content" role="main">
<center>
<!-- PilotSuits. are currently working on and recording in Brooklyn and Rochester, NY (Spring 2015).</br>
 -->
<a href='https://github.com/pilotsuits/pilotsuits.github.com/blob/master/recording/readme.md' target='_blank'>Link to GitHub To Do List</a></br>
<!-- <h3>Spreadsheet:</h3> -->
<iframe src="https://docs.google.com/spreadsheets/d/1dgt4f1yjr1nK7tGIU7tz8N9wfsyKA5CxSix_k-tIp8Y/pubhtml?widget=true&amp;headers=true" width='100%' height='600'></iframe></br>
<a href='https://docs.google.com/spreadsheets/' target='_blank'>Link to Spreadsheet in Google Docs</a>



</center>
    


    </div>




</main>